@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    background-color: rgb(212, 212, 212);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(212, 212, 212);
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(73, 73, 73, 1);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

#about {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.logo {
    cursor: pointer;
    margin-left: -85px;
    margin-right: auto;
    font-size: 300%;
    font-weight: bold;
    color: rgb(255, 79, 182);
    font-family: Harrington, fantasy;
}

.nav-links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li:last-child {
    margin-right: -95px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(73, 73, 73, 0.8);
}

#myCarousel { 
    margin: 0 auto;
    width: 640px;
    height: -200px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

ol.carousel-indicators {
    position: absolute;
    background: none;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
  }
.carousel-caption {
    background: none;
}


button {
    margin-right: -100px;
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(255, 79, 182, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(255, 79, 182, 0.8);
}